body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background: #212121;
  color: #eaeaea;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.section-four p {
  column-count: 2;
  text-align: justify;
  column-gap: 2rem;
  column-rule: 1px dotted #3b5065;
  column-width: 300px;
}

main {
  padding: 1rem;
  background-color: #bababa;
}

section {
  padding: 4rem 1rem;
  color: #212121;
}

section h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

section img {
  width: 100%;
  border: 2px solid #fff;
  filter: drop-shadow(20px 20px 20px #000);
}

section .image-caption {
  font-size: 0.75rem;
}

.section-two {
  background-color: #1e90ff;
  height: calc(100% - 100px);
  width: calc(100vw / 2 + 2em);
}

.section-three {
  background-color: #3b5065;
}

.section-three ul {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0;
  /* height: 500px; */

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-three li {
  background-color: #6b8d82;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  height: 300px;

  flex-grow: 1;
}

.section-three li:nth-child(3) {
  flex-grow: 5;
  order: -1;
  height: 100px;
  align-self: flex-end;
}

.section-four {
  background-color: #212121;
  color: #eaeaea;
}
